body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.search-results {
    background: rgb(230, 230, 230);
    padding: 1rem;
    text-align: left;
}